
  .admin-table th:nth-child(1),
  .admin-table td:first-child {
    width: 35%; 
    min-width: 140px;
  }
  .admin-table td:first-child {
    background-color: #ffff; 
  }

  .admin-table th:nth-child(2),
  .admin-table td:nth-child(2){
    width: 35%;
    min-width: 140px;
  }

  .admin-table th:nth-child(3),
  .admin-table td:nth-child(3) {
    width:20%;
    min-width: 120px;
    
  }
  .admin-table th:nth-child(4),
  .admin-table td.buttongroup-in-table {
    width: 10%;
    min-width: 100px;
    text-align: center;
    white-space: nowrap;
  }
  
  