.user-info-caregiver {
  padding-left: 1%;
}
.inline-container-caregiver {
  margin-left: 21px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}
.inline-container-caregiver b{
  font-weight: bold;
  color: #007BFF;
}
.caregiver-card {
  display: flex;
  /* จัดการ layout ให้เป็น flexbox */
  justify-content: space-between;
  /* align-items: flex-start;  */
  gap: 20px;
  line-height: normal;
  max-width: 80%;
  /* หรือค่าที่เหมาะสม */
  width: 100%;
  /* ให้ขยายเต็มเฉพาะ container */
  margin: 5px;
  /* จัดให้อยู่กึ่งกลาง */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.caregiver-card p {
  margin: 5px 0;
}
  .caregiver-title{
    font-weight: 600;
    font-size: 1rem;
  }

  .caregiver-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .label {
    color: #333; 
    font-weight: normal;
    /* flex: 0 1 200px;  */
    width: 200px; 
    text-align: left;
  }
  
  .caregiver-data {
    color: #333; /* สีเข้ม */
    font-weight: bold;
    /* flex: 1;  */
    text-align: left;
     white-space: normal; /* ให้ข้อมูลสามารถตัดบรรทัดได้ */
  word-wrap: break-word; 
  }
  .button-container-vertical {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    line-height: 2.2rem;
    justify-content: center;

  }
  