.caremanual-table th:nth-child(1),
.caremanual-table td:first-child {
  width: 30%;
  min-width: 150px;
}

.caremanual-table th:nth-child(2),
.caremanual-table th:nth-child(3),
.caremanual-table td:nth-child(2),
.caremanual-table td:nth-child(3) {
  width: 30%;
  min-width: 120px;
  text-align: center;
}

.caremanual-table th:nth-child(4),
.caremanual-table td.buttongroup-in-table {
  width: 10%;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}

/* เพิ่ม */
.box-input {
  width: 75%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 2.5rem;
  padding: 1rem;
  border-radius: 10px;
  min-height: 4rem;
}

.centered-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  position: relative;

}

.centered-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.adminall .centered-image {
  text-align: center;
}

.centered-image #previewImage {
  max-width: 30%;

}
.filename ,.pdf{
  display: flex;
  align-items: center;
  position: relative;
}
/* ปุมลบไฟล์ */
.delete-button-file {
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: color 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  /* สีพื้นหลังโปร่งใส */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  /* สีพื้นหลังโปร่งใส */
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button-image:hover {
  background-color: rgba(220, 53, 69, 0.9);
}

.delete-button-file:focus {
  outline: none;
}

/* .title-header{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
} */


/* ปรับรูปแบบ adminall card */
/* .adminall.card {
  background-color: #e0f7ff;
  border: 1px solid #87CEFA;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.adminall.card label {
  font-weight: bold;
  color: #005580;
}

.form-control {
  border: 1px solid #87CEFA;
  padding: 8px;
  border-radius: 5px;
}

.btn-outline {
  background-color: #87CEFA;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #5faad6;
} */