.equipments-table th:nth-child(1),
.equipments-table td:nth-child(1) {
  width: 40%;
  min-width: 180px;
}

.equipments-table th:nth-child(2),
.equipments-table td:nth-child(2) {
  width:40%;
  min-width: 180px;
  /* text-align: center; */
}

.equipments-table th:nth-child(3),
.equipments-table td:nth-child(3) {
  width: 30%;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

/* ปรับให้ปุ่มอยู่ตรงกลาง */
.buttongroup-in-table {
  text-align: center;
}

