  .mpersonnel-table th:nth-child(1),
  .mpersonnel-table td:first-child {
    width: 25%; 
    min-width: 120px;
  }
  
  .mpersonnel-table th:nth-child(2),
  .mpersonnel-table td:nth-child(2){
    width: 20%;
    min-width: 100px;
  }

  .mpersonnel-table th:nth-child(3),
  .mpersonnel-table td:nth-child(3) {
    width:25%;
    min-width: 120px;
  }
  .mpersonnel-table th:nth-child(4),
  .mpersonnel-table td.buttongroup-in-table {
    width: 10%;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
  }

  