@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');
*{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.nav{
    height: 60px;
    background-color: #87CEFA;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
}
.nav p{
    cursor: pointer;
    font-weight: 600;
}
.logo{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav i.bi{
    font-size:28px;
    margin-top: 10px;
    /* font-weight: 1000; */
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav ul li{
    cursor: pointer;
}
/* .linkname{
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
} */
/* sidebar */
.sidebar-container{
    width: 320px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #87CEFA;
    border-left: 3px;
    border-top: 3px;
}
.sidebar-container::-webkit-scrollbar{
    display: none;
}
.nav-option{
    display: flex;
    align-items: center;
    padding: 0px 20px ;
    width: 280px;
    gap: 10px;
    border-radius: 12px;
    margin: 10px 10px 10px 15px;
}
.nav-option i.bi{
    font-size: 20px;
}
.nav-option p{
    margin-top: 15px;
    font-weight: 600;

}
.logo i.bi{
    background-color: #87CEFA;
    color: white;
    cursor: pointer;
}
.nav-option:hover{
    background-color: #87CEFA;
    color: white;
    cursor: pointer;
    transition: .4s;

}
.logow{
    width: 15rem;
    /* margin: 1px 0px ; */
    /* padding: 1px 0; */
}

/* media query */

@media screen and(min-width:768px){
    .navCollaps{
        width: 80px;
    }
    .navCollaps .nav-option p{
        display: none;
    }
    .navCollaps .nav-option{
        padding: 28px;
    }

}