  .user-table th:nth-child(1),
  .user-table td:first-child {
    width: 30%; 
    min-width: 180px;
  }

  .user-table th:nth-child(2),
  .user-table td:nth-child(2){
    width: 30%;
    min-width: 180px;
  }

  .user-table th:nth-child(3),
  .user-table td:nth-child(3) {
    width: 20%;
    min-width: 120px;
    text-align: center;
  }
  .user-table th:nth-child(4),
  .user-table td.buttongroup-in-table {
    width: 10%;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
  }
  
  /* .user-table .btn-save {
    margin: 0 3px;
    padding: 5px 8px;
  } */
.recover {
  /* background-color: #42bd41;  */
  background-color: #f0ad4e;
  color: white; /* สีข้อความ */
  /* border: none; */
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* ให้มีการเปลี่ยนแปลงค่อยๆ */
}

/* .recover:hover {
  background-color: #28a745; 
  color: white;
} */
.recover:hover {
  background-color: #ec971f; 
}
  .save{
    border-radius: 5px;
    width: 2.5rem;
    background-color: #5bc0de; /* สีฟ้าอ่อน */
    color: white;
    border: none;
  }

    
/* สำหรับหน้าจอขนาด 1120px หรือลดลง */
  /* @media (max-width: 1120px) {
.admin-table {
    width: 90%; 
  }

  .admin-table th,
  .admin-table td {
    padding: 8px; 
  }

  .admin-table th:nth-child(1),
  .admin-table td:first-child {
    width: 30%; 
  }

  .admin-table th:nth-child(2),
  .admin-table td:nth-child(2) {
    width: 30%; 
  }

  .admin-table th:nth-child(3),
  .admin-table td:nth-child(3) {
    width: 20%;
  }

  .admin-table th:nth-child(4),
  .admin-table td.buttongroup-in-table {
    width: 20%; 
  } 
}*/

/* @media (max-width: 992px) {
  .user-table th,
  .user-table td {
    padding: 8px; 
    font-size: 0.9rem; 
  }
}

@media (max-width: 767px) {
  .user-table th, 
  .user-table td {
    padding: 6px;
  }
} */