.user-table {
    width: 80%;
    border-collapse: collapse;
    margin :0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    border-collapse: collapse; 
    border-spacing: 1; 
    border-radius: 0.5rem; 
    line-height: 2rem;
  }
  .user-table th{
    font-size: 1rem;
    background-color: #87CEFA;
    color: #000;
    text-transform: uppercase;
    border-bottom: 2px solid #87CEFA; 
  }

  .user-table th:first-child {
    border-top-left-radius: 0.5rem;
  }
  
  .user-table th:last-child {
    border-top-right-radius: 0.5rem;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .user-table th:nth-child(1),
  .user-table td:first-child {
    width: 30%; 
    min-width: 180px;
  }
  
  .user-table th:nth-child(2),
  .user-table td:nth-child(2){
    width: 30%;
    min-width: 180px;
  }

  .user-table th:nth-child(3),
  .user-table td:nth-child(3) {
    width: 20%;
    min-width: 120px;
    text-align: center;
  }
  .user-table th:nth-child(4),
  .user-table td.buttongroup-in-table {
    width: 10%;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
  }
  
  /* .user-table .btn-save {
    margin: 0 3px;
    padding: 5px 8px;
  } */

  .user-table .buttongroup-in-table button {
    margin: 0 3px;
    padding: 5px 8px;
  }
  .save{
    border-radius: 5px;
    width: 2.5rem;
    background-color: #42bd41;
    color: white;
    border: none;
  }